.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2f2e2e;
  padding: 20px 50px;
  margin-top: 200px;
  opacity: 0.7;
}

.orbit {
  padding-top: 20px;
  font-style: italic;
  color: #22daad;
  font-weight: 400;
  font-size: 0.8rem;
}

.reserved {
  padding-top: 20px;
  font-style: italic;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.8rem;
}

.logo {
  position: relative;
  width: 70px;
  height: 70px;
  background: transparent;
  border: none;
  padding: 0;
  margin-bottom: 0;
}

.circleLarge {
  width: 50px;
  height: 50px;
  background-color: #22daad;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.circleSmall {
  width: 15px;
  height: 15px;
  background-color: #1f6e5b;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
