.container {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: 0;
}
.orbitText {
  gap: 0.5rem;
  font-size: 7rem;
  color: #22daad;
  font-weight: bolder;
  margin-top: 5%;
  margin-bottom: -10px;
  margin-left: 100px;
  padding-bottom: 0;
}
.title {
  font-size: 3rem;
  color: #ffffff;
}
.title2 {
  font-size: 3rem;
  color: #22daad;
}
.titleContainer {
  display: flex;
  gap: 0.5rem;
  margin-left: 100px;
}
.highlight {
  color: #22daad;
  text-decoration: none;
}

.circle {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 1000px;
  height: 1000px;
  background-color: #22daad;
  border-radius: 50%;
  opacity: 0.9;
  transform: translate(-50%, -50%);
}

.orbit {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 1000px;
  height: 1000px;
  transform: translate(-50%, -50%);
  animation: rotate 30s linear infinite;
}

.circle2 {
  position: absolute;
  top: 0;
  left: 125%;
  width: 300px;
  height: 300px;
  background-color: #238b73;
  border-radius: 50%;
  opacity: 0.7;
  transform: translateX(-50%);
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
